/*

Iterations 2.0 CSS file

*/

body {background: #232323;}
h3 {font-family: 'Vollkorn', serif; padding-bottom: 10px;}
a {color: #fafafa;}
a:hover, p {color: #ffffff;}

#text-content {	
        color: #ffffff;	
        text-align:center;
    }
    
#randomizer {	
        border-top: 0px solid #999;	
        display: block;	
        margin-top: 10px;	
        text-align: right;	
        padding-top: 10px;	
        outline: none;
    }

.sharing {text-align: center; padding-top: 10px;}
.refresh { position:absolute; bottom:20px; right:20px;}
.container {padding-top: 10%;}
