body {background: #f9f9f9;}
h3 {font-family: 'Vollkorn', serif; padding-bottom: 10px;}
a {color: #693;}
a:hover, p {color: #777;}


#cards {    
        border-radius: 15px;    
        -moz-border-radius: 15px;    
        background: #ffffff;    
        border: 1px solid #ccc;    
        padding: 65px 25px 0 25px;    
        height: 250px;    
        width: 400px;
      margin-left: auto;
  margin-right: auto;
    position:relative;
    }

#text-content {	
        color: #333;	
        text-shadow: 0 1px 0 #fff;
        text-align:center;
    }
    
#randomizer {	
        border-top: 0px solid #999;	
        display: block;	
        margin-top: 10px;	
        text-align: right;	
        padding-top: 10px;	
        outline: none;
    }

.sharing {text-align: center; padding-top: 10px;}
.refresh { position:absolute; bottom:20px; right:20px;}
.container {padding-top: 10%;}