#cards {    
        border-radius: 15px;    
        -moz-border-radius: 15px;    
        background: #efefef;    
        border: 1px solid #ccc;    
        padding: 75px 20px 0 20px;    
        height: 250px;    
        width: 400px;
      margin-left: auto;
  margin-right: auto;
    position:relative;
    }

#text-content {	
        color: #333;	
        text-shadow: 0 1px 0 #fff;
        text-align:center;
    }
    
#randomizer {	
        border-top: 0px solid #999;	
        display: block;	
        margin-top: 10px;	
        text-align: right;	
        padding-top: 10px;	
        outline: none;
    }
a {
    color: #693;
}

.refresh {
position:absolute; bottom:20px; right:20px;
}